.Chapter4 {
    display: flex;
    justify-content: space-between; /* Make space between the two containers */
    /*align-items: flex-start; !* Align items to the top *!*/
    background-color: #FFFFFF;
    height: 90vh;
}

/*.Container {*/
/*    flex: 2;*/
/*    margin-right: 20px;*/
/*    padding-left: 100px;*/
/*    padding-right: 50px;*/
/*    padding-top: 50px;*/
/*}*/

/*.ImageContainer {*/
/*    flex: 1;*/
/*}*/

/*.Content {*/
/*    display: grid;*/

/*}*/

/*!*.Topic {*!*/
/*!*    font-size: 3rem;*!*/
/*!*    font-family: "Roboto Black", sans-serif;*!*/
/*!*    text-align: left; !* Text linksbündig ausrichten *!*!*/
/*!*}*!*/

/*.TextColumn {*/
/*    text-align: justify;*/
/*    font-size: calc(10px + 1vmin);*/

/*    padding-top: 40px;*/
/*}*/

/*.ButtonContainer{*/
/*    padding-top: 40px;*/
/*}*/


/*.Paceholder {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: #61dafb;*/
/*}*/

/*button {*/
/*    background-color: #61dafb;*/
/*    padding: 20px 40px;*/
/*    border-radius: 10px;*/
/*    font-size: 20px;*/
/*    font-family: "Roboto Medium", monospace;*/
/*}*/
