.Chapter3 {
    background-color: #ececec;
}

.Chapter3 .container {
    max-width: max-content;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chapter-col{
    width: 50%;
    padding: 70px 50px 70px 100px;
}

.chapter-col-space{
    width: fit-content;
    padding: 0;
}

.Topic {
    font-size: 3rem;
    font-family: Orbitron, monospace;
    font-weight: bold;
    text-align: left; /* Text linksbündig ausrichten */
}

.Chapter3 .TextColumn {
    text-align: justify;
    font-size: calc(12px + 1vmin);
    padding-top: 40px;
}

.ButtonContainer{
    padding-top: 40px;
}


.Paceholder {
    height: 100%;
    width: 100%;
    background-color: #61dafb;
}

button {
    background-color: #61dafb;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Orbitron, monospace;
    font-weight: bold;
}


/*
RESPONSIVE BEHAVIOR
 */

@media (max-width: 900px) {
    .chapter-col{
        width: 100%;
        padding: 40px;
        margin-bottom: 50px;
    }

    .chapter-col-space{
        width: 100%;
        padding: 0px;
        margin-bottom: 50px;
    }
}

@media (max-width: 574px) {
    .chapter-col{
        width: 100vw;
        padding: 40px;
        margin-bottom: 50px;
    }

    .chapter-col-space{
        width: 100vw;
    }
}

@media (max-width: 450px) {
    .chapter-col{
        width: 100vw;
        padding: 40px;
    }
    .Chapter3 .Topic {
        font-size: calc(35px + 1vmin);
    }
    .chapter-col-space{
        width: 100vw;

    }
}

@media (max-width: 375px) {
    .chapter-col{
        width: 100vw;
        padding: 40px;
    }
    .Chapter3 .Topic {
        font-size: calc(30px + 1vmin);
    }
    .chapter-col-space{
        width: 100vw;

    }
}

@media (max-width: 320px) {
    .chapter-col{
        width: 100vw;
        padding: 40px;
    }
    .Chapter3 .Topic {
        font-size: calc(25px + 1vmin);
    }
    .chapter-col-space{
        width: 100vw;

    }
}