@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Black", sans-serif;
}

body::-webkit-scrollbar {
    margin: 0;
    overflow: visible;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    cursor: url("cursor.svg"), auto;
    background-color: #262626;
}


.end-App {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    background-color: #194673;
    font-size: 1.5rem;
}
