@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    margin: 0;
    overflow: visible;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
    /*cursor: url("cursor.svg"), auto;*/
    background-color: #262626;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



