/* Stile für die LoadingContainer-Komponente */


.loading-container {
  display: grid;
  align-items: end;
  height: 100vh;
  overflow: hidden;
}

.loader {
  opacity: 0;
  animation: slide-up 1s ease-out 0.5s forwards;
}

.loader img {
  width: 100%;
  filter: invert();
}

@keyframes slide-up {
  0% {
    transform: translateY(100%); /* Startposition unten */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Endposition oben */
    opacity: 1;
  }
}
