.scrollAnimation {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-family: "Roboto Black", sans-serif;
}

main {
    display: grid;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

main div {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all ease-in 1s;
    background-color: #61dafb;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80%; /* Maximale Höhe des Bildes in dem Container */
}

img {
    height: 100%;
    object-fit: contain;
}

.fade-element {
    transition: all ease-in 1s;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}

.slide-out {
    transform: translateX(50%);
    opacity: 0;
}

.eins {
    background-color: #ffffff;
    color: #262626;
}

.zwei {

    background-color: #424242;
    color: #ececec;
}

.drei {

    background-color: white;
    color: #262626;
}

.vier {

    background-color: #194673;
    color: #ececec;
}

.funf {

    background-color: #2a75bf;
    color: #ececec;
}

.sechs {

    background-color: #3491ed;
    color: #ececec;
}
